#container {
    max-width: 800px ;
    margin: auto;
    display: flex;
    flex-flow: wrap;
}

.block-item {
    box-shadow:0px 0px 0px 1px #ffffff inset;
    background:#fafafa; 
    aspect-ratio: 1;
}